            /** Css Reset **/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    font-family: 'poppins-regular';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
li {
    list-style: none;
}
/** End of Css Reset **/

        /**Fontface**/
@font-face {
    font-family: 'poppins-regular';
    src: url('../font/Poppins-Webfont/poppins-regular-webfont.woff2') format('woff2'),
         url('../font/Poppins-Webfont/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-medium';
    src: url('../font/Poppins-Webfont/poppins-medium-webfont.woff2') format('woff2'),
         url('../font/Poppins-Webfont/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-bold';
    src: url('../font/Poppins-Webfont/poppins-bold-webfont.woff2') format('woff2'),
         url('../font/Poppins-Webfont/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
        /**Font face**/


        /**Section: Introduction**/
/*
    intro
*/

html {
  font-size: 18px;
}
.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: rgba(216, 216, 216, 0.2217);
    width: 75vw;
    height: 40rem;

    margin-left: auto;

    color: #6D6D6D;
}
/*
    navbar section
*/
.nav-links {
    display: flex;
    width: 75vw;

    color: #000;

    background: rgba(216, 216, 216, 0.2217);

    padding-top: 4%;
    margin-left: auto;
}
nav{
    width: 100%;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10%;
    width: 100%;

    padding: 0;
    padding-right: 5%;
}
/*
    text
*/
.text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paragraph-container {
    font-size: 1rem;
    line-height: 36px;
    letter-spacing: 0.386px;
    
    width: 50%;
    align-self: flex-end;
    border-left: #999 1px solid;
    padding-left: 5%;
}
.text-container {
    position: absolute;
    top: 25%;
    left: -15%;
  
    width: 50%;

    font-weight: 700;
    line-height: normal;
    font-family: 'poppins-medium';
    color: #999999;
}

.text-container > h4 {
  font-size: 6rem;
}
.button-container > button{
    position: absolute;
    width: 20rem;
    height: 7rem;
    bottom: -8%;
    left: -8%;
    background: #FFE8E8;
    padding: 3%;
    border-style: none;
}

.school-container {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;

    padding: 4% 8%;
}
.school-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.school-header > h4 {
    font-size: 5rem;
    color: #999;
    
}
.school-name {
    color: #6D6D6D;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.643px;
}
.school-details {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #6D6D6D;
    letter-spacing: 0.386px;
}
.school {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}